<h1>Welcome to MakersBnB</h1>
<h2>Join today!</h2>
<form action="/user/new" method="get">
  <input type="submit" value="Sign up">
</form>
<form action="/user/login" method="get">
  <input type="submit" value="Log in">
</form>