<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakersAirBnb</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  
  <nav class="navbar is-light has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/spaces">
      <h1 class="title is-size-3 has-text-weight-bold">MakersAirBnB</h1>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start has-text-weight-semibold">
    <% if @user %>
      <a class="navbar-item" href="/spaces/new">
        Add new space
      </a>
      <a class="navbar-item" href="/user/my_page">
        <%= @user.name %>'s page
      </a>
      <% end %>
    </div>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <% if !@user %>
          <a class="button is-link" href="/user/new">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/user/login">
            Log in
          </a>
        <% else %>
          <form action="/user/logout" method="post">
              <button class="button is-light">Log out</button>
          </form>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container is-fluid">
  
  <div class="columns is-centered">
    <div class="column is-half mt-2">
      <% flash.keys.each do |type| %>
      <div class="notification is-<%= type %>">
        <button class="delete" onclick="this.parentElement.style.display='none'"></button>
        <%= flash[type] %>
      </div>
      <% end %>
    </div>
  </div>
  
  <%= yield %>

</div>


</body>
</html>
