<form action="/user/signup" method="post">
  <input type="text" name="name" placeholder="Enter name">
  <input type="text" name="email" placeholder="Enter email">
  <input type="text" name="password" placeholder="Enter password">
  <input type="submit" value="Sign up">
</form>
  