<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title has-text-centered">Create space</h1>

      <form action="/spaces" method="post">

        <div class="field">
          <label class="label">Title</label>
            <input class="input" name="title" type="text" placeholder="Title" required>
        </div>
        <div class="field">
          <label class="label">Description</label>
            <input class="input" name="description" type="text" placeholder="Description" required>
        </div>

        <div class="field">
          <label class="label">Picture</label>
            <input class="input" name="picture" type="text" placeholder="Picture" disabled required>
        </div>

        <div class="field">
          <label class="label">Price</label>
            <input class="input" type="number" name="price" id="price" step="1" min="1" max="50000" placeholder="price" required>
        </div>

        <label for="date">
        Available from:</label>
        <input type="date" name="availability_from" min="2022-01-01" max="2022-12-31" required>
        <span class="validity"></span>
        <label for="date_to">to</label>
        <input type="date" name="availability_until" min="2022-01-01" max="2022-12-31" required>
        <span class="validity"></span>
        <input class="button is-link" type="submit" value="Create space">
      </form>

  </div>
</div>
